<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" parallel="classes" thread-count="9">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="testautomation.Utils.TestListener"/>
    </listeners>

    <test name="Automation Tests">
        <classes>
            <class name="testautomation.UItests.AddProductTest"/>
            <class name="testautomation.UItests.AddReviewTest"/>
            <class name="testautomation.UItests.ContactFormTest"/>
            <class name="testautomation.UItests.LoginIncorrectTest"/>
            <class name="testautomation.UItests.LogOutTest"/>
            <class name="testautomation.UItests.LoginTest"/>
            <class name="testautomation.UItests.RegisterExistingTest"/>
            <class name="testautomation.UItests.RegistrationTest"/>
            <class name="testautomation.UItests.RemoveProductTest"/>
            <class name="testautomation.UItests.SearchProductTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="testautomation.APITests.BrandApiTests"/>
            <class name="testautomation.APITests.ProductApiTests"/>
            <class name="testautomation.APITests.UserApiTests"/>
        </classes>
    </test>

</suite>
